@import "tailwindcss";

:root {
  --background: #F0F4FF;
  --foreground: #171717;
  /* Custom Colors for Khaleefa Holidays Theme - Dark Night */
  --bookease-navy: #18189C;
  /* Primary Midnight Dark */
  --bookease-slate: #111827;
  /* Secondary Dark */
  --bookease-grey: #1F2937;
  /* Custom Grey */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-serif: var(--font-playfair);
  --font-sans: var(--font-roboto);

  --color-bookease-navy: var(--bookease-navy);
  --color-bookease-slate: var(--bookease-slate);
  --color-bookease-grey: var(--bookease-grey);
}




/* Scrollbar utilities */
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-roboto), Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}
